    <header class="navbar navbar-fixed-top change-nav" id="careers-navigation" >
      <div class="container">
        <button data-toggle="collapse" data-target="#navigation" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
          <a href="{{ site.baseurl }}/" class="navbar-brand"><img src="img/tm-logo.svg"><span>Bot <br />Detection</span></a>
        </div>
        <div style="padding-top:15px">
        <div class="pull-right">
          <a class="btn btn-default hide-in-mobile"  href="#" id="sign-in">Sign In</a>
          <a class="btn btn-primary hide-in-mobile"  href="#" id="apply-today">Sign Up</a>
        </div>
        </div>
      </div>
    </header>