<div class="jumbotron" id="about-trend">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-2">Working at <span class="text-primary">Trend Micro</span></h1>
				<p class="text-17">Subhead, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.Subhead, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.Subhead, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.Subhead, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="btn-link" data-target="#trend-video" data-toggle="modal"><i aria-hidden="true" class="fa fa-play-circle-o"></i> Play Video</a>
			</div>
		</div>
	</div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="trend-video" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<iframe allowfullscreen frameborder="0" height="400px" src="https://www.youtube.com/embed/lq9Z23mwj3Y" width="100%"></iframe>
		</div>
	</div>
</div>