<div class="container" id="internship-opportunities">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-2">Internship Opportunities</h1>
      <p class="subtitle">Subhead, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
    </div>
  </div>
  <div class="row" style="padding-top: 70px;">
    <div class="col-md-12">
      <div class="row">
        <div class=" col-md-3 col-sm-3 col-xs-12">
          <a data-target="#modal" data-toggle="modal">
          <div class="thumbnail">
            <img alt="thumbnail" src="  img/web-dev.png" style="width: 100%">
            <div class="caption">
              <h3 class="display-6">Web Developer</h3>
            </div>
          </div></a>
        </div>
        <div class=" col-md-3 col-sm-3 col-xs-12">
          <a data-target="#modal-2" data-toggle="modal">
          <div class="thumbnail">
            <img alt="thumbnail" src="img/it-expert.png" style="width: 100%">
            <div class="caption">
              <h3 class="display-6">Junior System Engineer</h3>
            </div>
          </div></a>
        </div>
        <div class=" col-md-3 col-sm-3 col-xs-12">
          <a data-target="#modal-4" data-toggle="modal">
          <div class="thumbnail">
            <img alt="thumbnail" src="img/infosec.png" style="width: 100%">
            <div class="caption">
              <h3 class="display-6">Threat Response Intern</h3>
            </div>
          </div></a>
        </div>
        <div class=" col-md-3 col-sm-3 col-xs-12">
          <a data-target="#modal-4" data-toggle="modal">
          <div class="thumbnail">
            <img alt="thumbnail" src="img/web-designer.png" style="width: 100%">
            <div class="caption">
              <h3 class="display-6">Junior Web Designer</h3>
            </div>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h3 class="media-heading">Web Developer <small>Intern/ OJT Position</small></h3><span><strong>Good to have:</strong></span> <span class="label label-warning">HTML5/CSS</span> <span class="label label-info">Adobe CS 5.5</span> <span class="label label-info">Microsoft Office</span> <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
          <p class="text-left"><strong>What can you earn:</strong><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p><br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-2" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h3 class="media-heading">Junior Systems Engineer <small>Intern/ OJT Position</small></h3><span><strong>Good to have:</strong></span> <span class="label label-warning">HTML5/CSS</span> <span class="label label-info">Adobe CS 5.5</span> <span class="label label-info">Microsoft Office</span> <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
          <p class="text-left"><strong>What can you earn:</strong><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p><br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-3" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h3 class="media-heading">Threat Response Engineer <small>Intern/ OJT Position</small></h3><span><strong>Good to have:</strong></span> <span class="label label-warning">HTML5/CSS</span> <span class="label label-info">Adobe CS 5.5</span> <span class="label label-info">Microsoft Office</span> <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
          <p class="text-left"><strong>What can you earn:</strong><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p><br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-4" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h3 class="media-heading">Web Developer <small>Intern/ OJT Position</small></h3><span><strong>Good to have:</strong></span> <span class="label label-warning">HTML5/CSS</span> <span class="label label-info">Adobe CS 5.5</span> <span class="label label-info">Microsoft Office</span> <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
          <p class="text-left"><strong>What can you earn:</strong><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p><br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>